.todo-list:first-of-type {
    border-top: 1px solid grey;
}

.todo-list {
    border-bottom: 1px solid grey;
}

.todo  {
    display: flex;
    justify-content: space-between;
    text-align: center;
}